<div class="game-field">
  <app-player
    *ngFor="let player of game.players.slice().reverse(); let i = index"
    [ngStyle]="{
      'right.px': 20 + i * 10,
      'top.px': 20 + i * 35,
      'z-index': 900 + i
    }"
    [index]="i"
    [players]="game.players.length"
    [name]="player.name"
    [icon]="player.icon"
    class="player-component"
  ></app-player>
  <div class="icon-box">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      class="game-btn"
      (click)="openDialog()"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <div class="card-stack">
    <!--  Card stack -->
    <img
      *ngFor="let card of cards.numbers; let i = index"
      [ngStyle]="{
        'left.px': 40 + i * 3,
        'top.px': 40 + i * 2
      }"
      src="assets/img/cards/overlay_red.png"
    />
    <img
      class="topCard"
      (click)="pickCard()"
      [ngStyle]="{
        'left.px': 40 + cards.numbers.length * 3,
        'top.px': 40 + cards.numbers.length * 2
      }"
      src="assets/img/cards/overlay_red.png"
    />
    <!-- Current card animation-->
    <img
      *ngIf="pickCardAnimation"
      class="pick-card"
      [ngStyle]="{
        'left.px': cards.numbers.length * 3,
        'top.px': cards.numbers.length * 2
      }"
      [ngClass]="{ 'pick-card': pickCardAnimation }"
      src="assets/img/cards/{{ currentCard }}.png"
    />
    <!-- Played card stack-->
    <img
      [ngStyle]="{
        'left.px': cards.numbers.length * 3,
        'top.px': cards.numbers.length * 2
      }"
      class="pick-card"
      *ngFor="let card of game.playedCards"
      src="assets/img/cards/{{ card }}.png"
      alt=""
    />
  </div>

  <app-game-info [card]="currentCard" class="game-info"></app-game-info>
</div>
