<h1 mat-dialog-title>Please add a Player</h1>

<div mat-dialog-content>
  <div class="icon-color-box">
    <div>
      <p>What's your Name</p>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" />
      </mat-form-field>
    </div>

    <div>
      <p>Choose your icon</p>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="data.selectedIcon" name="icon">
          <mat-option *ngFor="let icon of icons" [value]="icon">
            <img src="assets/img/player_icons/{{ icon }}" alt="" />
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="preview">
  <div class="player-box">
    <div class="player">
      <img src="assets/img/player_icons/{{ data.selectedIcon }}" alt="" />
      <span>{{ data.name }} </span>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>

  <button
    class="add"
    mat-button
    [disabled]="data.name.length == 0"
    [mat-dialog-close]="data"
  >
    Ok
  </button>
</div>
