@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.mat-select-panel .mat-option {
  margin: 10px;
  overflow: unset;
}
